@{
  var mem = (List<Myembro>)ViewData["mem"];

  List<Myembro> myembros = (List<Myembro>) ViewData["Myembro"];
}

<h2>Modify</h2>
<ul class="breadcrumb">
  <li><a href="\Home\Members">Add Member</a></li>
  <li><a href="\Home\Modify">Modify</a></li>
  <li><a href="\Home\UserAccounts">User Accounts</a></li>
</ul>

<form action="/home/Search" method ="post" style="margin-width: 50%">
  <div class="form-group">
      <input type="text" name="searchpamore" class="form-control" placeholder="Search Name....">
  </div>
  <input type="submit" class="btn btn-primary" value="Search">
</form>



  <table class="table table-hover" id="TableKo">
        <tr class="header"> 
          <th> </th>
          <th>Name</th>
          <th>Group</th>
          <th>Address</th>
          <th>Contact</th>
          <th>Email</th>
       </tr>
       @foreach (var item in mem)
       {
         <tr>
           <td>@item.id</td>
           <td>@item.fname @item.lname </td> 
           <td>@item.grp</td>
           <td>@item.address</td>
           <td>@item.contact</td>
           <td>@item.email</td>
           <td><a href="/home/edit?id=@item.id" class="btn btn-primary">Edit</a></td>

           <form action="/home/delete" method="post">
           <td><input type="hidden" name = "id" value="@item.id"></td>
           <td><input type="submit" class="btn btn-danger" value="Delete"></td>
           </form>

        
        <!--<div class = "container">
            <td><input name = "id" value="@item.id"></td>
            <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Delete</button></td>
           <div class="modal fade" id="myModal" role="dialog">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">STOP!!</h4>
                      </div>
                      <div class="modal-body">
                        <p>Are you sure you want to DELETE this record?</p>
                        
                        <form action="/home/delete" method="post">
                        <input type="text" name="id" value="@item.id">
                        <input type="submit" class="btn btn-default" value="Yes">
                        </form>
                        
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                      </div>
                      
                    </div>
                  </div>  
           </div>
        </div>-->

            <td><button type="button" class="btn btn-info">Archive</button></td>
          </tr>
        }
    </table>


  <script>
    function myFunction(){
      var input, filter, table, tr, td, x, txtValue;
      input = document.getElementById ("searchpamore");
      filter = input.value.toUpperCase();
      table = document.getElementById("TableKo");
      tr = table.getElementsByTagName("tr");

      for (x=0; x < tr.lenth; x++){
        td = tr[x].getElementsByTagName("td")[0];
        if (td){
          txtValue=td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1){
            tr [i].style.display = "";
          } else {
            tr[x].style.display="none";
          }
        }
      }

    }
  </script>